USE [p5g4]
GO
/****** Object:  User [p5g4]    Script Date: 07/06/2019 15:38:57 ******/
CREATE USER [p5g4] FOR LOGIN [p5g4] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [p5g4]
GO
/****** Object:  Schema [GamesDB]    Script Date: 07/06/2019 15:38:57 ******/
CREATE SCHEMA [GamesDB]
GO
/****** Object:  Table [GamesDB].[Admin]    Script Date: 07/06/2019 15:38:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [GamesDB].[Admin](
	[UserName] [varchar](30) NOT NULL,
	[Start_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [GamesDB].[Developers]    Script Date: 07/06/2019 15:38:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [GamesDB].[Developers](
	[DeveloperID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Email] [varchar](max) NULL,
	[Phone] [varchar](max) NULL,
	[Website] [varchar](max) NULL,
	[City] [varchar](max) NULL,
	[Country] [varchar](max) NULL,
	[Logo] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[DeveloperID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [GamesDB].[Events]    Script Date: 07/06/2019 15:38:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [GamesDB].[Events](
	[EventID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](30) NOT NULL,
	[TypeID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EventID] ASC,
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [GamesDB].[EventType]    Script Date: 07/06/2019 15:38:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [GamesDB].[EventType](
	[TypeID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[TypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [GamesDB].[Franchises]    Script Date: 07/06/2019 15:38:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [GamesDB].[Franchises](
	[FranchiseID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[NoOfGames] [int] NULL,
	[Logo] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[FranchiseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [GamesDB].[GameBelongsFranchise]    Script Date: 07/06/2019 15:38:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [GamesDB].[GameBelongsFranchise](
	[GameID] [int] NOT NULL,
	[FranchiseID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GameID] ASC,
	[FranchiseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [GamesDB].[GameDeveloper]    Script Date: 07/06/2019 15:38:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [GamesDB].[GameDeveloper](
	[GameID] [int] NOT NULL,
	[DeveloperID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GameID] ASC,
	[DeveloperID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [GamesDB].[GameEventList]    Script Date: 07/06/2019 15:38:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [GamesDB].[GameEventList](
	[GameID] [int] NOT NULL,
	[EventID] [int] NOT NULL,
	[UserName] [varchar](30) NOT NULL,
	[RegDate] [date] NULL,
	[ChangeDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[GameID] ASC,
	[EventID] ASC,
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [GamesDB].[GameGenre]    Script Date: 07/06/2019 15:38:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [GamesDB].[GameGenre](
	[GenreID] [int] NOT NULL,
	[GameID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GenreID] ASC,
	[GameID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [GamesDB].[Games]    Script Date: 07/06/2019 15:38:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [GamesDB].[Games](
	[GameID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](100) NOT NULL,
	[LauchDate] [date] NULL,
	[Description] [varchar](max) NULL,
	[PubID] [int] NOT NULL,
	[CoverImage] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[GameID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Title] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [GamesDB].[Genres]    Script Date: 07/06/2019 15:38:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [GamesDB].[Genres](
	[GenreID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GenreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [GamesDB].[Platforms]    Script Date: 07/06/2019 15:38:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [GamesDB].[Platforms](
	[PlatformID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Owner] [varchar](max) NULL,
	[ReleaseDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[PlatformID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [GamesDB].[Publishers]    Script Date: 07/06/2019 15:38:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [GamesDB].[Publishers](
	[PublisherID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Email] [varchar](max) NULL,
	[Phone] [varchar](max) NULL,
	[Website] [varchar](max) NULL,
	[City] [varchar](max) NULL,
	[Country] [varchar](max) NULL,
	[Logo] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[PublisherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [GamesDB].[Releases]    Script Date: 07/06/2019 15:38:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [GamesDB].[Releases](
	[GameID] [int] NOT NULL,
	[PlatformID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GameID] ASC,
	[PlatformID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [GamesDB].[Reviews]    Script Date: 07/06/2019 15:38:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [GamesDB].[Reviews](
	[ReviewID] [int] IDENTITY(1,1) NOT NULL,
	[Score] [int] NOT NULL,
	[Title] [varchar](max) NOT NULL,
	[Description] [varchar](max) NULL,
	[Date] [date] NOT NULL,
	[UserName] [varchar](30) NOT NULL,
	[GameID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReviewID] ASC,
	[GameID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [GamesDB].[Tournments]    Script Date: 07/06/2019 15:38:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [GamesDB].[Tournments](
	[TournmentID] [int] IDENTITY(1,1) NOT NULL,
	[GameID] [int] NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[Location] [varchar](max) NULL,
	[PrizePool] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TournmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [GamesDB].[Users]    Script Date: 07/06/2019 15:38:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [GamesDB].[Users](
	[UserName] [varchar](30) NOT NULL,
	[Email] [varchar](max) NOT NULL,
	[Fname] [varchar](max) NULL,
	[Lname] [varchar](max) NULL,
	[Photo] [varchar](max) NULL,
	[Password_hash] [binary](64) NOT NULL,
	[Salt] [uniqueidentifier] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [GamesDB].[Admin]  WITH CHECK ADD  CONSTRAINT [admin_user] FOREIGN KEY([UserName])
REFERENCES [GamesDB].[Users] ([UserName])
ON DELETE CASCADE
GO
ALTER TABLE [GamesDB].[Admin] CHECK CONSTRAINT [admin_user]
GO
ALTER TABLE [GamesDB].[Events]  WITH CHECK ADD  CONSTRAINT [event_type] FOREIGN KEY([TypeID])
REFERENCES [GamesDB].[EventType] ([TypeID])
ON DELETE CASCADE
GO
ALTER TABLE [GamesDB].[Events] CHECK CONSTRAINT [event_type]
GO
ALTER TABLE [GamesDB].[Events]  WITH CHECK ADD  CONSTRAINT [eventUser] FOREIGN KEY([UserName])
REFERENCES [GamesDB].[Users] ([UserName])
ON DELETE CASCADE
GO
ALTER TABLE [GamesDB].[Events] CHECK CONSTRAINT [eventUser]
GO
ALTER TABLE [GamesDB].[GameBelongsFranchise]  WITH CHECK ADD  CONSTRAINT [gameBelongsFranchiseFranchise] FOREIGN KEY([FranchiseID])
REFERENCES [GamesDB].[Franchises] ([FranchiseID])
ON DELETE CASCADE
GO
ALTER TABLE [GamesDB].[GameBelongsFranchise] CHECK CONSTRAINT [gameBelongsFranchiseFranchise]
GO
ALTER TABLE [GamesDB].[GameBelongsFranchise]  WITH CHECK ADD  CONSTRAINT [gameBelongsFranchiseGame] FOREIGN KEY([GameID])
REFERENCES [GamesDB].[Games] ([GameID])
ON DELETE CASCADE
GO
ALTER TABLE [GamesDB].[GameBelongsFranchise] CHECK CONSTRAINT [gameBelongsFranchiseGame]
GO
ALTER TABLE [GamesDB].[GameDeveloper]  WITH CHECK ADD  CONSTRAINT [developerGameDeveloper] FOREIGN KEY([DeveloperID])
REFERENCES [GamesDB].[Developers] ([DeveloperID])
ON DELETE CASCADE
GO
ALTER TABLE [GamesDB].[GameDeveloper] CHECK CONSTRAINT [developerGameDeveloper]
GO
ALTER TABLE [GamesDB].[GameDeveloper]  WITH CHECK ADD  CONSTRAINT [gameDeveloperGame] FOREIGN KEY([GameID])
REFERENCES [GamesDB].[Games] ([GameID])
ON DELETE CASCADE
GO
ALTER TABLE [GamesDB].[GameDeveloper] CHECK CONSTRAINT [gameDeveloperGame]
GO
ALTER TABLE [GamesDB].[GameEventList]  WITH CHECK ADD  CONSTRAINT [gameEventListEvent] FOREIGN KEY([EventID], [UserName])
REFERENCES [GamesDB].[Events] ([EventID], [UserName])
ON DELETE CASCADE
GO
ALTER TABLE [GamesDB].[GameEventList] CHECK CONSTRAINT [gameEventListEvent]
GO
ALTER TABLE [GamesDB].[GameEventList]  WITH CHECK ADD  CONSTRAINT [gameEventListGame] FOREIGN KEY([GameID])
REFERENCES [GamesDB].[Games] ([GameID])
ON DELETE CASCADE
GO
ALTER TABLE [GamesDB].[GameEventList] CHECK CONSTRAINT [gameEventListGame]
GO
ALTER TABLE [GamesDB].[GameGenre]  WITH CHECK ADD  CONSTRAINT [gameGenreGame] FOREIGN KEY([GameID])
REFERENCES [GamesDB].[Games] ([GameID])
ON DELETE CASCADE
GO
ALTER TABLE [GamesDB].[GameGenre] CHECK CONSTRAINT [gameGenreGame]
GO
ALTER TABLE [GamesDB].[GameGenre]  WITH CHECK ADD  CONSTRAINT [gameGenreGenre] FOREIGN KEY([GenreID])
REFERENCES [GamesDB].[Genres] ([GenreID])
ON DELETE CASCADE
GO
ALTER TABLE [GamesDB].[GameGenre] CHECK CONSTRAINT [gameGenreGenre]
GO
ALTER TABLE [GamesDB].[Games]  WITH CHECK ADD  CONSTRAINT [gamePublisher] FOREIGN KEY([PubID])
REFERENCES [GamesDB].[Publishers] ([PublisherID])
ON DELETE CASCADE
GO
ALTER TABLE [GamesDB].[Games] CHECK CONSTRAINT [gamePublisher]
GO
ALTER TABLE [GamesDB].[Releases]  WITH CHECK ADD  CONSTRAINT [releasesGame] FOREIGN KEY([GameID])
REFERENCES [GamesDB].[Games] ([GameID])
ON DELETE CASCADE
GO
ALTER TABLE [GamesDB].[Releases] CHECK CONSTRAINT [releasesGame]
GO
ALTER TABLE [GamesDB].[Releases]  WITH CHECK ADD  CONSTRAINT [releasesPlatform] FOREIGN KEY([PlatformID])
REFERENCES [GamesDB].[Platforms] ([PlatformID])
ON DELETE CASCADE
GO
ALTER TABLE [GamesDB].[Releases] CHECK CONSTRAINT [releasesPlatform]
GO
ALTER TABLE [GamesDB].[Reviews]  WITH CHECK ADD  CONSTRAINT [reviewGame] FOREIGN KEY([GameID])
REFERENCES [GamesDB].[Games] ([GameID])
ON DELETE CASCADE
GO
ALTER TABLE [GamesDB].[Reviews] CHECK CONSTRAINT [reviewGame]
GO
ALTER TABLE [GamesDB].[Reviews]  WITH CHECK ADD  CONSTRAINT [reviewUser] FOREIGN KEY([UserName])
REFERENCES [GamesDB].[Users] ([UserName])
ON DELETE CASCADE
GO
ALTER TABLE [GamesDB].[Reviews] CHECK CONSTRAINT [reviewUser]
GO
ALTER TABLE [GamesDB].[Tournments]  WITH CHECK ADD  CONSTRAINT [tournmentGame] FOREIGN KEY([GameID])
REFERENCES [GamesDB].[Games] ([GameID])
ON DELETE CASCADE
GO
ALTER TABLE [GamesDB].[Tournments] CHECK CONSTRAINT [tournmentGame]
GO
